div{
    width: 300;
    margin: auto;
    background-color: rgb(6, 222, 35);
    padding: 20px;
}
body{
    background-color: rgb(179, 179, 255); 
    
.mycontainer {
  display: flex;
}
.mycontainer > div {
  width:33%;
}
}